header{
    text-align: center;
}

.h1Artigo{
    text-align: center;
}

.pArtigo{
    text-align: center;
}

.ulArtigo{
    text-align: center;
    
}

.h2Artigo{
    text-align: center;
}

.formulario{
    text-align: center;
}

.artigoIMG{
text-align: center;
}

.h3Artigo{
    text-align: center;
}

.footerP{
    text-align: right;
}

.butao1{
    color: green;
}
